// common styles
#fishDetroit {
	h1 {
		font-family: sans-serif;
   		font-weight: 600;  
	}

	.or-divider {
		text-align: center;
		width: 500px;
		margin: 15px 0;
	}

	form {
		display: flex;
		flex-flow: column;
		width: 500px;

		input {
			&:not(:last-of-type) {
				margin: 0 0 20px 0;
			}
		}
	}
}

// mobile styles
@media screen and (max-width: 767px) {
	// 
}

// desktop styles
@media screen and (min-width: 768px) {
	#fishDetroit {
		h1 {
			font-size: 48px;
		}
	}
}