@use 'variables' as v;

body {
	margin: v.$spacing-unit;

	nav {
		display: flex;

		a, .button_to button {
			margin: 0 5px 0 0;
    	padding: 0;
    	border: none;
    	background: none;
		}
	}

	header {
		.fish-detroit--logo {
			max-width: 100px;
			float: left;
		}
	}

	button, input[type="submit"] {
		cursor: pointer; 
	}
}