@use 'variables' as v;

body {
	margin: v.$spacing-unit;

	nav {
		display: flex;
		justify-content: flex-end;

		a, .button_to button {
			margin: 0 5px 0 0;
    	padding: 0;
    	border: none;
    	background: none;
		}
	}
}